$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower



/* Space out content a bit */
body {
 background-color: black;
}

.container1 {
  width: 100%;
}

.container {
  width: 100%;
  padding: 0px;
}

.topmenu {
  width: 100%;
  height: 50px;
  background-color: #660033;
}

.menubar {
 width: 100%;
 height: 90px;
 //position: fixed;
 background: linear-gradient(to bottom, #990066 0%, #CC0066 100%);
}

.logo {
  //float: left;
  width: 90px;
  height: 90px;
  img {
    height: 90px;
    position: relative;
    left: 20px;
  }
}

.nav-pills {
  visibility: hidden;
}

.navigationlinks {
  li {
    color: white;
    display: inline-block;
    float: right;
    list-style-type: none;
    font-size: 20px;
    margin-right: 60px;
    cursor: pointer;
    position: relative;
    bottom: 60px;
  }
}





/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1450px) {

.container1 {
  width: 100%;
}

.container {
  width: 100%;
  padding: 0px;
}

.menubar {
 width: 100%;
 height: 90px;
 //position: fixed;
 background: linear-gradient(to bottom, #990066 0%, #CC0066 100%);
}

.logo {
  //float: left;
  width: 90px;
  height: 90px;
  img {
    height: 90px;
    position: relative;
    left: 20px;
  }
}

.nav-pills {
  visibility: hidden;
}

.navigationlinks {
  li {
    color: white;
    display: inline-block;
    float: right;
    list-style-type: none;
    font-size: 20px;
    margin-right: 60px;
    cursor: pointer;
    position: relative;
    bottom: 60px;
  }
}



}

@media screen and (max-width: 845px) {

  .container {
    width: 100%;
    padding: 0px;
  }

  .menubar {
    width: 100%;
    height: 90px;
    background: linear-gradient(to bottom, #990066 0%, #CC0066 100%);
  }

  .logo {
    width: 90px;
    height: 90px;
    img {
      height: 90px;
      position: relative;
      left: 20px;
    }
  }

  .nav-pills {
    visibility: hidden;
  }

  .navigationlinks {
  li {
    color: white;
    display: inline-block;
    float: right;
    list-style-type: none;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    bottom: 60px;
  }
}

}

@media screen and (max-width: 450px) {

  .container {
    width: 100%;
    padding: 0px;
  }

  .menubar {
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #990066 0%, #CC0066 100%);
  }

  .logo {
    visibility: hidden;
    img {
      visibility: hidden;
    }
  }

  .nav-pills {
    visibility: visible;
    position: relative;
    a {
      position: relative;
      bottom: 95px;
      color: white;
    }
    a:hover {
      color: black;
    }
  }

  .navigationlinks {
    visibility: hidden;
  }

  .dropdown-menu {
   //height: 130px;
   position: relative;
   bottom: 90px;
   li a {
    top: 0px;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
   }
  }
}
