$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower



/* Space out content a bit */
body {
 background-color: black;
}

.container1 {
  width: 100%;
}

.container {
  width: 100%;
  padding: 0px;
}

.topmenu {
  width: 100%;
  height: 50px;
  background-color: #660033;
}

.menubar {
 width: 100%;
 height: 90px;
 //position: fixed;
 background: linear-gradient(to bottom, #990066 0%, #CC0066 100%);
 box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
}

.logo {
  //float: left;
  width: 90px;
  height: 90px;
  img {
    height: 90px;
    position: relative;
    left: 20px;
  }
}

.nav-pills {
  visibility: hidden;
}

.navigationlinks {
  li {
    color: white;
    display: inline-block;
    float: right;
    list-style-type: none;
    font-size: 20px;
    margin-right: 60px;
    cursor: pointer;
    position: relative;
    bottom: 60px;
  }
}

.bannerimage {
  width: 100%;
  height: 501px;
  //border: 1px solid blue;
  background: linear-gradient(to bottom, #FF6699 0%, #FF99CC 100%);
  img {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 500px;
    position: relative;
    bottom: 48px;
  }
}

.mobilebanner {
  visibility: hidden;
}

.logmein {
  visibility: hidden;
}

.navlogin {
  list-style-type: none;
  display: inline-block;
  float: right;
  position: relative;
  top: 12px;
  text-decoration: none;
  margin-right: 20px;
}

.linktitle2 {
  margin-left: 10px;
}


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1450px) {

.container1 {
  width: 100%;
}

.container {
  width: 100%;
  padding: 0px;
}

.menubar {
 width: 100%;
 height: 90px;
 //position: fixed;
 background: linear-gradient(to bottom, #990066 0%, #CC0066 100%);
}

.logo {
  //float: left;
  width: 90px;
  height: 90px;
  img {
    height: 90px;
    position: relative;
    left: 20px;
  }
}

.nav-pills {
  visibility: hidden;
}

.navigationlinks {
  li {
    color: white;
    display: inline-block;
    float: right;
    list-style-type: none;
    font-size: 20px;
    margin-right: 60px;
    cursor: pointer;
    position: relative;
    bottom: 60px;
  }
}

.bannerimage {
  width: 100%;
  height: 501px;
  //border: 1px solid blue;
  background: linear-gradient(to bottom, #FF6699 0%, #FF99CC 100%);
  img {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 500px;
    position: relative;
    bottom: 48px;
  }
}

.mobilebanner {
  visibility: hidden;
}

.logmein {
  visibility: hidden;
}



}

@media screen and (max-width: 845px) {

  .container {
    width: 100%;
    padding: 0px;
  }

  .topmenu {
    width: 100%;
    height: 35px;
  }

  .menubar {
    width: 100%;
    height: 90px;
    background: linear-gradient(to bottom, #990066 0%, #CC0066 100%);
  }

  .logo {
    width: 90px;
    height: 90px;
    img {
      height: 90px;
      position: relative;
      left: 20px;
    }
  }

  .nav-pills {
    visibility: hidden;
  }

  .navigationlinks {
  li {
    color: white;
    display: inline-block;
    float: right;
    list-style-type: none;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    bottom: 60px;
  }
}

.bannerimage {
  width: 100%;
  height: 300px;
  //border: 1px solid blue;
  background: linear-gradient(to bottom, #FF6699 0%, #FF99CC 100%);
  img {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 300px;
    position: relative;
    bottom: 48px;
  }
}

.mobilebanner {
  visibility: hidden;
}

.logmein {
  visibility: hidden;
}

.navlogin {
  list-style-type: none;
  display: inline-block;
  float: right;
  position: relative;
  top: 5px;
  text-decoration: none;
  margin-right: 5px;
}

.linktitle2 {
  margin-left: 5px;
}

}

@media screen and (max-width: 470px) {

  .container {
    width: 100%;
    padding: 0px;
  }

  .topmenu {
    width: 100%;
    height: 25px;
  }

  .menubar {
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #990066 0%, #CC0066 100%);
  }

  .logo {
    visibility: hidden;
    img {
      visibility: hidden;
    }
  }

  .nav-pills {
    visibility: visible;
    position: relative;
    a {
      position: relative;
      bottom: 95px;
      color: white;
    }
    a:hover {
      color: black;
    }
  }

  .navigationlinks {
    visibility: hidden;
  }

  .dropdown-menu {
   //height: 130px;
   position: relative;
   bottom: 85px;
   li a {
    top: 0px;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
   }
  }

  .bannerimage {
    visibility: hidden;
  }

  .mobilebanner {
    visibility: visible;
    img {
      width: 60%;
      margin-right: 20%;
      margin-left: 20%;
      position: relative;
      bottom: 280px;
    }
  }

  .logmein {
    visibility: visible;
    float: right;
    position: relative;
    bottom: 130px;
    list-style-type: none;
    margin-right: 10px;
  }

  .navlogin {
    visibility: hidden;
  }


}
